*{
    margin:0;
    padding:0;
}
#row1{
    height: 600px;
    width: 100%;
    background: url(../images/yogabackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: round;
}
.banner_section{

}
.logo{
    text-align: center;
    padding-top: 180px;
}
.logo img{
    width: 150px;
    height: 120px;
}
.logo h1{
    text-align: center;
    color: rgb(36, 100, 155);
    font-size: 70px;
    padding-top: 0px;
    margin-left:15px;

}
.yoga_studies{
    text-align: center;
    color: rgb(40, 66, 159);
}
.yoga_studies h2{}
.menu{
    width: 70%;
    height: 100%;
    float: left;

}
.menu ul{
    margin-left: 500px;
    padding-top: 120px;
}
.menu ul li{
    float: left;
    list-style: none;
    line-height: 50px;
    margin-left: 30px;
    color: rgb(27, 101, 165);
}
/* row 1 css is done*/
